.f_bar {
  background: #066ea5;
  display: flex;
}

.text {
  padding: 0 1em;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.picto {
  width: 25px;
  transform: translate(12%, 25%);
  filter: invert(100%);
}
.picto_container {
  width: 30px;
  height: 40px;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #a3d0eb;
}
