.f_bar {
  background: #066ea5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.f_cell {
  text-align: center;
  background: #066ea5;
  color: white;
  font-size: 0.7em;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #a3d0eb;
}
