.button_style {
  cursor: pointer;
}

.h_bar_logo {
  width: 160px;
  padding-top: 0.4em;
  padding-left: 1em;
}

.h_bar_text {
  display: flex;
}

.h_text {
  font-size: 0.8em;
  padding-top: 1.4em;
}

.h_cell {
  text-align: center;
  background: white;
  color: #066ea5;

  padding-right: 1em;
  background: rgba(0, 0, 0, 0);
}

.logo_style {
  width: 100%;
}

@media (max-width: 600px) {
  .h_text {
    padding-top: 0.8em;
    font-size: 0.7em;
  }

  .h_cell {
    padding-right: 0.5em;
  }
}
