.button_style {
  cursor: pointer;
  min-width: 100px;
}
.h_bar {
  display: flex;
  align-items: center;
}

.h_bar_logo {
  width: 150px;
  padding-top: 0.4em;
  padding-left: 0.4em;
}

.h_bar_text {
  width: 500px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-left: 0.2em;
}

.h_text {
  padding-top: 0.8em;
}

.h_cell {
  text-align: center;
  background: white;
  color: #066ea5;
  font-size: 1em;
}

.logo_style {
  width: 100%;
}

@media (max-width: 600px) {
  .h_text {
    font-size: 0.8em;
  }
}
