.h_bar {
  width: 600px;
  padding: 0.8em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.h_cell {
  text-align: center;
  background: white;
  color: #066ea5;
  font-size: 0.7em;
  cursor: auto;
}
/* .h_cell.pointer {
  cursor: pointer;
} */

.logo_style {
  width: 100%;
}
