body {
  /* margin: 0; */
  background: white;
}

/* .children {
  font-family: "Raleway", -apple-system, Roboto, sans-serif, serif;
  color: white;
} */

.md_style {
  font-size: 0.9em;
  color: #066ea5;
  background: white;
  margin: 0 auto;
  padding: 1em;
  max-width: 850px;

  text-align: justify;
}

.md_container {
  background: white;
}

a {
  color: #066ea5;
}

a:link {
  text-decoration: none;
  color: #066ea5;
}

a:hover {
  color: #8ec0e9;
}
