.partnaire_container {
  position: relative;
  max-width: 850px;
  margin: 0 auto;
  align-items: center;
}

.partenaires_style {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 650px) {
  .partnaire_container {
    max-width: 649px;
  }
}

@media (max-width: 400px) {
  .partnaire_container {
    max-width: 399px;
  }
}
